# Virtual Environment
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# OS & IDE Files
.DS_Store
.vscode/
.idea/

# Archive & Temporary Extraction Files
unrar/
unrarsrc.tar.gz
*.rar

# Temporary & Log Files
*.log
.system_generated/
